            @import url('https://fonts.googleapis.com/css?family=Megrim');
            body{
                background-color: #2a2826;
            }
            h1{
                text-align: center;
                font-family: 'Megrim', cursive;
                color: #e6e6e6;
                font-size: 90px;
            }
            .center{
                display: block;
                margin: 0 auto;
            
            }
            h4{
                display: inline-block;
                font-family: 'Megrim', cursive;
                color: #e6e6e6;
            }
            .license{
                font-family: 'Megrim', cursive;
                color: #e6e6e6;
                text-align: center;
            }
            img.break{
                display: block;
                margin-left: auto;
                max-width: 99%;
                margin-right: auto
            }
