@import url('https://fonts.googleapis.com/css?family=Megrim');
html{
    padding-right: 10%;
    padding-left: 10%;
}
body{
    background-color: #F2DC9A;
    height:1600px;
}
div.titleImage{
    text-align: center;
    color: #D8A244;
    font-size: 90px;
    /*border: 1px solid red;*/
}

.title{
    text-align: center;
    color: #D8A244;
    font-size: 30px;
    opacity: 0;
}

.show{
  text-align: center;
    color: #D8A244;
    font-size: 30px;
    opacity: 1;
}

div.menu{
    text-align: center;
    color: #D8A244;
    /*border: 1px solid red;*/
    font-size: 15px;
}

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #F2DC9A;
}

.center{
    display: block;
    margin: 0 auto;

}

div.license{
    color: #D8A244;
    text-align: center;
    bottom: 0;
}

a{
    color: #D8A244;
    text-decoration: none;
}
a:hover{
    color: #123C56;
    text-decoration: none;
}
