pre{
                color: #123C56;
                border: 2px #D8A244 dashed;
                padding: 15px;
                line-height: 1.5em;
                font-size: 10pt;
                word-break: break-all;
                word-wrap: break-word;
                line-height: 95%;
            }
            div.code{
                width: 90%;
                margin: auto;
                display: block;
                word-break: break-all;
                word-wrap: break-word;
            }
            #grad1{
                background: #F2DC9A; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* Standard syntax */
            }
            #grad2{
                background: #F2DC9A;
                background: -webkit-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
                background: -o-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
                background: -moz-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
                background: linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
            }
            #grad3{
                background: #F2DC9A;
                background: -webkit-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
                background: -o-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
                background: -moz-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
                background: linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
            }