/* 2017-12-07 ajn: spans are for the toggle JS file */
span.persName.on{
    color: #123C56;
    font-weight: bold;
}

span.loc.on{
    color: brown;
    font-weight: bold;
}

span.current.on{
    color: maroon;
    font-weight: bold;
}

span.company.on{
    color: teal;
    font-weight: bold;
}

span.company.on{
    color: darkslateblue;
    font-weight: bold;
}

span.company.on{
    color: darkgoldenrod;
    font-weight: bold;
}

.h2outline{
    text-align: center;
}