class.persName{
    color: green;
}
class.current{
    color: maroon;
}
class.company{
    color: black;
}
class.loc{
    color: blue;
}
class.date{
    color: yellow;
}
class.event{
    color: white;
}