.persName{
    color: #123C56;
    font-weight: bold;
}
.current{
    color: maroon;
    font-weight: bold;
}
.company{
    color: teal;
    font-weight: bold;
}
.loc{
    color: brown;
    font-weight: bold;
}
.date{
    color: darkslateblue;
    font-weight: bold;
}
.event{
    color: darkgoldenrod;
    font-weight: bold;
}
.h2outline{
    text-align:center;
}