@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Rye');

html{
    padding-right: 10%;
    padding-left: 10%;
}

.container{
width:90%;
line-height:200%;
margin:auto;
text-indent:3em;
display: block;
text-align: justify;
padding:1em;
}

body{
    background-color: #F2DC9A;
}

h2{
    color: #123C56;
    font-family: 'Rye', cursive;
}

h2.title{
    text-align: center;
    font-size: 20pt;
}

h3{
    color: #123C56;
    font-family: 'Rye', cursive;
}

p{
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
}

li{
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
    line-height: 200%;
}

span{
    text-align: center;
}
div.titleImage{
    text-align: center;
    color: #D8A244;
    /*border: 1px solid red;*/
}

img.title{
    width: 70%;
    height: 70%;
}

div.title{
    text-align: center;
    color: #D8A244;
    font-size: 30px;
    opacity: 0;
}

.show{
    text-align: center;
    color: #D8A244;
    font-size: 30px;
    opacity: 1;
    color: #123C56;
    font-family: 'Rye', cursive;
    padding-bottom: .5em;
}

div.menu{
    text-align: center;
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    /*border: 1px solid red;*/
    font-size: 14pt;
}

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #F2DC9A;
}

div.body{
    text-align: center;
    padding-top: 10%;

}

.center{
    display: block;
    margin: 0 auto;

}

div.license{
    color: #D8A244;
    text-align: center;
    bottom: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
}

a{
    color: #D8A244;
    text-decoration: none;
    font-size: 16pt;
}
a:hover{
    color: #123C56;
    text-decoration: none;
    font-size: 14pt;
}

.dropbtn {
    background-color: #F2DC9A;
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2DC9A;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 7px 11px;
    text-decoration: none;
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    display: block;
}

.dropdown-content a:hover {background-color: #123C56}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F2DC9A;
}
