@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Rye');

html{
    padding-right: 10%;
    padding-left: 10%;
}

body{
    background-color: #F2DC9A;
    background-image: url("backgroundPattern.png");
    background-repeat: repeat;
}

h2{
    color: #d8a244;
    font-family: 'Rye', cursive;
}

h2.title{
    text-align: center;
    font-size: 20pt;
}

h3{
    color: #d8a244;
    font-family: 'Rye', cursive;
}

p{
    color: #123C56;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
    line-height: 180%;
}
/* 2017-11-30 ajn: For the lists on the outline page */
li{
    color: #ac782d;
    font-family: 'Josefin Slab', serif;
    line-height: 200%;
    font-size: 16pt;
}

span{
    text-align: center;
}

/* 2017-11-30 ajn: For the title image */
div.titleImage{
    text-align: center;
    color: #D8A244;
}

/* 2017-11-30 ajn: For the title image */
img.title{
    width: 70%;
    height: 70%;
}

/* 2017-11-30 ajn: For the title text */
div.title{
    text-align: center;
    color: #D8A244;
    font-size: 30px;
    opacity: 0;
}

/* 2017-11-30 ajn: For the title text */
.show{
    text-align: center;
    color: #D8A244;
    font-size: 30px;
    opacity: 1;
    color: #123C56;
    font-family: 'Rye', cursive;
    padding-bottom: .5em;
}

/* 2017-11-30 ajn: For the menu */
div.menu{
    text-align: center;
    color: #ac782d;
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
}

/* 2017-11-30 ajn: This makes the menu 'stick' to the top of the page */
div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #F2DC9A;
}

/* 2017-11-30 ajn: For the body of the html page */
div.body{
    text-align: center;
    padding-top: 10%;

}

.center{
    display: block;
    margin: 0 auto;

}

/* 2017-11-30 ajn: For the text on the screen but excludes the menu and the license */
.container{
    width: 90%;
    line-height: 200%;
    margin: auto;
    text-indent: 3em;
    display: block;
    text-align: justify;
    padding: 1em;
}
 /* 2017-12-07 ajn: flex container for outline page */
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

/* 2017-12-05 ajn: Style the toc on the outline page w/ flex */
div.toc{
    margin: 10px;
    padding: 20px;
    flex: 1;
}

/* 2017-12-05 ajn: To be able to diplay the articles with JS */
div.main{
    display: none;
}

/* 2017-12-05 ajn: To be able to diplay the articles with JS */
div.main on{
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
    width: 90%;
    line-height: 200%;
    text-indent: 3em;
    text-align: justify;
    margin: 10px;
    padding: 20px;
    flex: 3;
}

/* 2017-12-07 ajn: toggle box on outline page */
div.toggle{
    color: #D8A244;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
    width: 90%;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    flex: 3;
    background-color: #F2DC9A;
}

/* 2017-12-07 ajn: to make space for a flex container on outline page */
div.space{
    flex: 1;
}

/* 2017-11-30 ajn: For the line of text at the bottom of the page */
div.license{
    color: #ac782d;
    text-align: center;
    bottom: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 14pt;
}

/* 2017-11-30 ajn: For the links */
a{
    color: #ac782d;
    text-decoration: none;
    font-size: 16pt;
}

/* 2017-11-30 ajn: For the links */
a:hover{
    color: #123C56;
    text-decoration: none;
    font-size: 16pt;
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropbtn{
    background-color: #F2DC9A;
    color: #ac782d;
    font-family: 'Josefin Slab', serif;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 16pt;
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropdown{
    position: relative;
    display: inline-block;
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #F2DC9A;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 16pt;
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropdown-content a{
    padding: 7px 11px;
    text-decoration: none;
    color: #ac782d;
    font-family: 'Josefin Slab', serif;
    display: block;
    font-size: 16pt;
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropdown-content a:hover{
    background-color: #123C56
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropdown:hover .dropdown-content{
    display: block;
}

/* 2017-11-30 ajn: For the dropdown menu */
.dropdown:hover .dropbtn{
    background-color: #F2DC9A;
}

div#flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 2
}
div#ptext{
    flex: 1
}
div#map{
    flex: 2
}
p#pmap{
    line-height: 210%;
}

/* 2017-12-07 ajn: span isfor the toggle JS file on outline page */
span.persName.on{
    color: #d8a244;
    font-weight: 800;
}

span.persNameToggle{
    color: #d8a244;
}
/* 2017-12-07 ajn: span isfor the toggle JS file on outline page */
span.loc.on{
    color: brown;
    font-weight: 800;
}

span.locToggle{
    color: brown;
}

/* 2017-12-07 ajn: span isfor the toggle JS file on outline page */
span.current.on{
    color: blue;
    font-weight: 800;
}

span.currentToggle{
    color: blue;
}

/* 2017-12-07 ajn: span isfor the toggle JS file on outline page */
span.company.on{
    color: teal;
    font-weight: 800;
}

span.companyToggle{
    color: teal;
}

/* 2017-12-07 ajn: span isfor the toggle JS file on outline page */
span.date.on{
    color: green;
    font-weight: 800;
}

span.dateToggle{
    color: green;
}

/* 2017-12-07 ajn: span isfor the toggle JS file on outline page */
span.event.on{
    color: red;
    font-weight: 800;
}

span.eventToggle{
    color: red;
}
/* 2017-12-07 ajn: this is for the articles on the outline page */
.h2outline{
    text-align: center;z
}

/* 2017-12-07 ajn: From here on down is for the coding page */
pre{
    color: #123C56;
    border: 2px #D8A244 dashed;
    padding: 15px;
    line-height: 1.5em;
    font-size: 10pt;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 95%;
}
div.code{
    width: 90%;
    margin: auto;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}
#grad1{
    background: #F2DC9A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3)); /* Standard syntax */
}
#grad2{
    background: #F2DC9A;
    background: -webkit-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
    background: -o-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
    background: -moz-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
    background: linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
}
#grad3{
    background: #F2DC9A;
    background: -webkit-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
    background: -o-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
    background: -moz-linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
    background: linear-gradient(#F2DC9A, rgba(240, 180, 76, 0.3));
}